[Unit]
Description=Silicom bpctl kernel module and device node
After=local-fs.target systemd-udev-settle.service
Wants=systemd-udev-settle.service
Before=wanctl@att.service wanctl@spectrum.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/wanctl-bpctl-init

[Install]
WantedBy=multi-user.target
