[Unit]
Description=Nightly CAKE Reset for Spectrum (3am and 3pm)
Requires=cake-spectrum-reset.service

[Timer]
OnCalendar=03:00
OnCalendar=15:00
Persistent=true

[Install]
WantedBy=timers.target
