[Unit]
Description=Run CAKE Passive Monitor for Spectrum every 2 minutes (offset +1min)
Requires=cake-spectrum-passive.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=1s

[Install]
WantedBy=timers.target
