[Unit]
Description=CAKE Continuous Autorate - Spectrum
Documentation=https://github.com/kevin/CAKE

[Service]
Type=oneshot
User=kevin
WorkingDirectory=/home/kevin/wanctl
ExecStart=/usr/bin/python3 /home/kevin/wanctl/autorate_continuous.py --configs /home/kevin/wanctl/configs/spectrum_config.yaml
StandardOutput=journal
StandardError=journal
