[Unit]
Description=Run CAKE Passive Monitor for ATT every 2 minutes
Requires=cake-att-passive.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
AccuracySec=1s

[Install]
WantedBy=timers.target
